#root {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  height: 100vh;
}
.react-quiz-container .questionWrapper img {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover;
}

.react-quiz-container {
  max-width: 600px;
  margin: 0px !important;
}

.react-quiz-container .tag-container {
  /* display: none; */
}

p,
h3 {
  margin: 0 !important;
}

.questionWrapperBody .tag-container,
.questionWrapperBody > div {
  margin-inline: 12px;
}
.questionWrapperBody h3 {
  padding-inline: 12px;
}

.questionWrapperBody {
  margin-top: 12px;
}

@media screen and (max-width: 600px) {
  #root {
    margin-top: 0px;
  }
}
